// Navigation Styles here
nav {
        display:flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        padding: 2%;
        width: 50%;

    a {
        text-decoration: none;
        color: @font-color;
        font-size: 1.5rem;
        font-weight: bold;
    }
}//nav